* {
  border: none;
  outline: none;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #262521;
  text-align: center;
  overflow-x: hidden;
}

.primary-btn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

.sneakers-feature {
  width: 500px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff3333;
  padding: 0 2em;
}

.sneakers-feature--base {
  display: flex;
}

.sneakers-feature--leg {
  height: 350px;
  padding: 0 13em 0 2.5em;
}

.sneakers-feature--dress-my-feet {
  width: 20em;
  height: auto;
  margin: -3em 0 0 0;
}

.sneakers-feature--name {
  color: #fffd4c;
}

.sneakers-feature--btn {
  margin: 30% 0 0 0;
  width: auto;
  height: 5em;
  outline: none;
}

.sneakers-gallery {
  width: calc(100vw - 500px);
  left: 500px;
  position: relative;
}

.sneakers-gallery--card-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sneakers-card {
  padding: 2em;
}

.sneakers-card--image {
  width: 200px;
  height: auto;
}

.sneakers-card--button {
  background: none;
  border: none;
  color: #262521;
  cursor: pointer;
}

.sneakers-card--button:hover {
  background: #f8f8f8;
  border-radius: 0.25em;
}

.sneakers-default-font {
  font-size: 16px;
}

h2 > a {
  border-bottom: 1px dotted;
}

h2 > a:hover {
  color: #fffd4c;
}

.credit {
  color: #f8f8f8;
  bottom: 0;
  position: fixed;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .sneakers-feature {
    position: static;
    width: 100%;
  }

  .sneakers-feature img {
    flex: 3;
  }

  .sneakers-gallery {
    position: static;
    width: 100%;
  }
}
